@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root { --colorTextos: #49454567;
}

body {
	font-family: "Roboto";
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

header {
	width: 100%;
	height: 10%;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
}

.logo {
	color: #fff;
	font-weight: bold;
	text-align: center;
	top: 90px;
	width: 100%;
	float: left;
	margin-top: 15px;
	margin-left: 0px;
	letter-spacing: 5px;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
}

dos {
	width: 100%;
	margin-top: 150px;
}

.user {
	height: 6%;
	position: fixed;
	top: 0px;
	right: 7%;
}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 950px;
	background-color: #FFFFFF;
	background: #bc4e9c; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, hsla(243, 59%, 48%, 0.459),
		hsla(243, 59%, 83%, 0.664)), url(Imagenes/Imagen2.jpg);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, hsla(243, 59%, 48%, 0.459),
		hsla(243, 59%, 83%, 0.664)), url(Imagenes/Imagen2.jpg);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
	background-size: cover;
	background-position: center;
}

.herop {
	font-family: 'Roboto';
	padding-top: 200px;
	padding-bottom: 340px;
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	text-align: center;
	font-weight: 900;
}

.hero_headerP {
	color: #FFF;
	text-align: center;
	font-weight: 800;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}

.wave {
	position: absolut;
	bottom: 0;
	width: 100%;
}

.light {
	font-weight: bold;
}

form {
	background: rgba(255, 255, 255, 0.392);
	padding: 40px 0;
	box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
	border-radius: 10px;
}

.form {
	width: 100%;
	margin: auto;
}

form .grupo {
	position: relative;
	margin: 45px;
}

input {
	background: none;
	color: #c6c6c6;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid var(- -colorTextos)
}

input:focus {
	outline: none;
	color: #5e5d5d;
}

label {
	color: var(- -colorTextos);
	font-size: 16px;
	position: absolute;
	left: 5px;
	top: 10px;
	transition: 0.5s ease-in-out all;
	pointer-events: none;
}

input:focus ~label, input:valid ~label {
	top: -14px;
	font-size: 12px;
	color: #2196f3;
}

.barra {
	position: relative;
	display: block;
	width: 100%;
}

.barra::before {
	content: "";
	height: 2px;
	width: 0%;
	bottom: 0;
	position: absolute;
	background: linear-gradient(to right, #B06AB3, #4568DC);
	transition: 0.3s ease width;
	left: 0;
}

input:focus ~.barra::before {
	width: 100%;
}

.acciones {
	font-family: 'Roboto';
	background: #4568DC;
	background: -webkit-linear-gradient(to right, #000a6383, #4568DC);
	width: 130px;
	height: 30px;
	text-align: center;
	font-size: 16px;
	display: inline-block;
	background: linear-gradient(to right, #000a6383, #4568DC);
	border: none;
	color: #fff;
	cursor: pointer;
	padding: 5px 8px;
	margin: 5px 6px;
	position: relative;
	top: 30px;
	border-radius: 10px;
}

.acciones:hover {
	background: #1a23729a;
}

.acciones:active {
	background: #4346639a;
}

espacio {
	width: 100%;
	margin: 0 auto;
}

.menu {
	width: 90%;
	top: 100;
	background: #4568DC;
	background: -webkit-linear-gradient(to right, #000a6383, #4568DC);
	background: linear-gradient(to right, #000a6383, #4568DC);
	text-align: center;
	position: fixed;
}

.menu ul {
	list-style: none;
}

.menu ul li {
	display: inline-block;
	padding: 20px;
	transition: all .3s ease;
}

.menu ul li:hover {
	transform: scale(1.2);
	background: #4568DC;
}

.menu ul li a {
	color: #fff;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

.menu botton {
	color: #fff;
}

@media screen and(max-width:500px) {
	form {
		width: 80%;
	}
}